@import "static/css/design/typography.scss";

.synonyms-form-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &__title {
    margin-right: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include tg_head3();
  }

  &__close-icon {
    width: 20px;
    height: 20px;
  }
}
