$color_black: #000;
$color_white: #fff;

$color_brand100: #344273;
$color_brand50: rgba($color_brand100, 50%);
$color_gray2: #4f4f4f;
$color_gray2-lighter: #787878; // #787878 rgb(120, 120, 120); rgba($color_gray2, 76.8%);
$color_gray2_light: #dedede; //  #dedede rgb(222, 222, 222); rgba($color_gray2, 19%);
$color_gray2-lightest: #efefef; // #efefef rgb(239, 239, 239); rgba($color_gray2, 9%);

$color_error: #c23e42;
$color_green: #5e9574;
$color_danger: #955e5e;
